#passport-wrap {
    margin: 30px auto 0;
    width: 55%;
}

#bind-wrap {
    margin: 30px auto 0;
    padding: 45px 15px 15px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    width: 50%;
}

.mb15 {
    margin-bottom: 15px;
}

.mt10 {
    margin-top: 10px;
}

